
@{
    ViewBag.Title = "Move";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Country New Country
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="col-md-12">
        <div class="box box-info">
            <!-- /.box-header -->
            <div class="box box-body box-info col-md-12">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="exampleInputEmail1">Country Name:</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Full Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4"></div>
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-1">
                            <button type="button" class="btn btn-block btn-default">Create</button>
                        </div>
                        <div class="form-group col-md-1">
                            <a href="/Country/Index"><button type="button" class="btn btn-block btn-default">Cancel</button></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>



