@model IEnumerable<DYEREntity.EF.tbl_Country>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Country Information
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="col-md-12">
        <div class="box box-info">
            <!-- /.box-header -->
            <div class="box-body">
                <h2>Country Information</h2>
                <div class="row">
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-block btn-default" onclick="location.href='@Url.Action("CountryDetailPage","Country")'">Create Country</button>
                    </div>
                </div>
                <table id="exampleCountry" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>Total of Host</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(x => item.CountryName)</td>
                                <td>4</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Country Name</th>
                            <th>Total of Host</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>

